<main class="mainPrincipal" id>
  <section style="width: 99%; text-align: center;">
    <img class="logo" src="https://i.ibb.co/CbLq5Qg/Logo.png" alt="Logo" border="0">
    <p class="textI">PacoTeck: Vapp-V-1.0.0</p>
    <p class="textI2">NombreUser</p>
  </section>
  <section>
    <button class="button-19" role="button">Nueva Venta</button>
    <button class="button-19" role="button">Cliente</button>
    <button class="button-19" role="button">Venta del Dia</button>
  </section>
</main>
<main class="mainVenta"></main>
<main class="mainCliente"></main>
<main class="ventaDelDia"></main>

